package main

import (
	"fmt"
	"log/slog"
	"os"
	"reflect"
	"runtime"
	"strings"

	"github.com/amberbyte/flamigo/injection"
	core_infra "{{.ProjectModulePath}}/internal/domains/core/infrastructure"
	"{{.ProjectModulePath}}/internal/api"
	{{if .HasFeature "auth"}}auth_infra "{{.ProjectModulePath}}/internal/domains/auth/infrastructure"{{end}}
	{{if .HasFeature "transport_http"}}httptransport "{{.ProjectModulePath}}/internal/adapters/http"{{end}}
	{{if .HasFeature "transport_websocket"}}websocket "{{.ProjectModulePath}}/internal/adapters/websocket"{{end}}
)

var initializers = []any{
	//------------  Core domains and packages
	core_infra.Init,
	//------------ Domains Infra
	{{if .HasFeature "auth"}}auth_infra.Init,{{end}}
	// ----------- Domain Apps
	
	//------------ Initialize APIs
	{{if .HasFeature "transport_http"}}httptransport.Init,{{end}}
	api.Init,
	{{if .HasFeature "transport_websocket"}}websocket.Init,{{end}}
	{{if .HasFeature "transport_http"}}httptransport.Start,{{end}}
}

func wrapError(t reflect.Type, err error) error {
	return fmt.Errorf("initializer %s: %w", t.PkgPath(), err)

}

func validInitializer(init any) error {
	t := reflect.TypeOf(init)
	if t.Kind() != reflect.Func {
		return wrapError(t, fmt.Errorf("initializer must be a function, got %s", t.Kind()))
	}
	if t.NumOut() < 1 {
		return wrapError(t, fmt.Errorf("initializer must return at least one value"))
	}

	return nil
}

func getFunctionPackageName(f interface{}) string {
	ptr := reflect.ValueOf(f).Pointer()
	fn := runtime.FuncForPC(ptr)
	if fn == nil {
		return "unknown"
	}

	fullName := fn.Name()
	return strings.Replace(fullName, "{{.ProjectModulePath}}", "", 1)
}

func main() {
	slog.SetDefault(slog.New(slog.NewTextHandler(os.Stdout, &slog.HandlerOptions{
		Level: slog.LevelDebug,
	})))
	slog.Info("starting {{.ProjectName}} backend")
	injector := injection.NewInjector()

	for _, init := range initializers {
		err := validInitializer(init)
		if err != nil {
			slog.Error("verifying initializer", "initializer", getFunctionPackageName(init), "error", err)
			os.Exit(1)
		}
		err = injector.Invoke(init)
		if err != nil {
			slog.Error("initializing", "initializer", getFunctionPackageName(init), "error", err)
			os.Exit(1)
		}
	}
}
