package auth_events

import (
	"github.com/amberbyte/flamigo/events"
	auth "{{.ProjectModulePath}}/internal/domains/auth/domain"
)

var _ events.Event = (*UserAuthenticated)(nil)

type UserAuthenticated struct {
	user auth.User
}

func (e *UserAuthenticated) Topics() []events.Topic {
	return []events.Topic{
		UserAuthenticatedTopic(e.user.ID),
	}
}

func (e *UserAuthenticated) User() auth.User {
	return e.user
}

func NewUserAuthenticated(user auth.User) *UserAuthenticated {
	return &UserAuthenticated{
		user: user,
	}
}
