package auth_events

import "github.com/amberbyte/flamigo/events"

func UserAuthenticatedTopic(userID string) events.Topic {
	return events.NewTopic("auth", "authenticated", userID)
}

func UserTopic(userID string) events.Topic {
	return events.NewTopic("user", userID)
}
