package {{.DomainName}}

// You should use this when injecting your domain to keep it mockable for tests
type Domain interface {
	// You can add methods here that export the domain interface (such as services or repositories)
}