package {{.DomainName}}_app

import (
	"github.com/amberbyte/flamigo/injection"
)

var listeners = []any{
	createExampleListener,
}

func Init(inj injection.Container) error {
	return inj.InvokeAll(listeners)
}
